<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Todo list</h1>
  <p>Simple todo list</p>
  <%= link_to "Daftar", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
